{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
  {% if language == 'en' %}
      {% set lang = '/eng' %}
  {% endif %}
  {% if language == 'zh-hant' %}
    {% set lang = '/chs' %}
  {% endif %}
  {% if language == 'zh-hans' %}
    {% set lang = '/cht' %}
  {% endif %}

  <div class="tab-icon-outer-wrapper scroll-wrapper">
    <{{ list.type }}{{ list.attributes }} class="tab-icon-wrapper nav navbar-nav">
      {% for row in rows %}
      {% set weight = row.content['#row']._entity.field_weight.value %}
      {% set term = row.content['#row']._entity.field_product_type.target_id %}
      {% set url_arg = row.content['#view'].args[0] %}
        <li{{ attributes }}>
          <a href="{{lang}}/product/{{url_arg}}/{{term}}/{{weight}}">
            <img src="{{file_url(row.content['#row']._entity.field_image.entity.uri.value)}}"/>
          </a>
        </li>
      {% endfor %}
    </{{ list.type }}>
  </div>
  <a class="arrow arrow-right"></a>
{% if attributes -%}
  </div>
{% endif %}
