{% set mobile_menu = simplify_menu('main') %}
<div class="layout-container page">
{# Mobile menu #}
{% if mobile_menu %}
  <nav class="navbar navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    {{ elements.pharm_theme_main_menu }}
    {% if language == 'en' %}
      {% set active_en = 'active' %}
    {% endif %}
    {% if language == 'zh-hant' %}
      {% set active_cht = 'active' %}
    {% endif %}
    {% if language == 'zh-hans' %}
      {% set active_chs = 'active' %}
    {% endif %}
    <ul id="lang-sidebar" class="nav navbar-nav">
      <li class="{{active_chs}}"><a href="/cht{{ current_url }}">繁</a></li>
      <li class="{{active_cht}}"><a href="/chs{{ current_url }}">简</a></li>
      <li class="{{active_en}}"><a href="/eng{{ current_url }}">ENG</a></li>
    </ul>
    <ul id="social-icon-sidebar" class="nav">
      <li><a href="https://www.facebook.com/Fortune.Pharmacal" target="_blank" class="fb-icon"></a></li>
      <li><a href="http://weibo.com/fortunepharmacal" target="_blank" class="weibo-icon"></a></li>
      <li><a href="https://www.youtube.com/user/FortunePharmHK" target="_blank" class="youtube-icon"></a></li>
    </ul>
    <ul class="nav sidebar-nav">
      {% for menu_item in mobile_menu.menu_tree %}
        {% set active_trail = '' %}
        {% if menu_item.active_trail or menu_item.active %}
          {% set active_trail = 'active' %}
        {% endif %}
          {% if menu_item.submenu %}
            <li class="parent {{active_trail}}" id="{{menu_item.options.attributes.class}}"><a href="javascript:void(0);">{{ menu_item.text|t }}</a>
          {% else %}
            {% if menu_item.text == "其他服务范围" %}
               {% set menu_url = menu_item.url ~ "?lang=zh_cn" %}
            {% elseif menu_item.text == "其他服務範圍" %}
              {% set menu_url = menu_item.url ~ "?lang=zh" %}
            {% else %}
                {% set menu_url = menu_item.url %}
            {% endif %}
            <li class="{{active_trail}}">
              <a href="{{ menu_url }}" class="" title="{{ menu_item.text|t }}" target="{{menu_item.options.attributes.target}}">{{ menu_item.text|t }}</a>
          {% endif %}
          {% if menu_item.submenu %}
            <ul class="sub-sidebar-nav">
              <li>
                <a href="{{ menu_item.url }}" class="" title="{{ menu_item.text|t }}" target="{{menu_item.options.attributes.target}}">{{ menu_item.text|t }}</a>
              </li>
              {% for sub_menu_item in menu_item.submenu %}
                <li>
                  <a href="{{ sub_menu_item.url }}" title="{{ sub_menu_item.text|t }}" target="{{sub_menu_item.options.attributes.target}}">{{ sub_menu_item.text|t }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
        <div id="menuEnd"></div>
      {% endfor %}
    </ul>
    <ul id="linkage-icon-sidebar" class="nav navbar-nav"></ul>
  </nav>
{% endif %}
{# Mobile menu #}

{# Header section #}
  <header id="header" class="navbar">
    <div class="container-fluid">
      <div class="container-fluid-40">
        {{ page.header }}
      </div>
    </div>
  </header>

  <nav id="contact-nav" class="container-fluid hidden-xs">
    <div class="container-fluid-125 submenu">
      {{ page.sub_menu }}
    </div>
  </nav>

{# Header section #}
{# Content section #}
  <div id="wrapper">
    <div id="main">
      <div class="container-fluid">
        <section id="banner-wrapper">
          <div class="page_banner">
            {{ page.page_banner }}
          </div>
        </section>
        <section id="os-wrapper">
          {{ page.content }}
        </section>
        <section id="content_bottom">
          {{ page.content_bottom }}
        </section>
      </div>
    </div>
    {# Content section #}
    {# Footer section #}
    <footer class="footer" role="contentinfo" id="footer">
      <div class="container-fluid">
        <div class="container-fluid-40">
          {{ page.footer }}
        </div>
      </div>
    </footer>
  </div>
</div>
{# Footer section #}
