{% set mobile_menu = simplify_menu('main') %}
<div class="layout-container page">
    {# Mobile menu #}
    {% if mobile_menu %}
        {{ elements.pharm_theme_main_menu }}
        {% if language == 'en' %}
          {% set active_en = 'active' %}
        {% endif %}
        {% if language == 'zh-hant' %}
          {% set active_cht = 'active' %}
        {% endif %}
        {% if language == 'zh-hans' %}
          {% set active_chs = 'active' %}
        {% endif %}
    <nav class="navbar navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul id="lang-sidebar" class="nav navbar-nav">
          <li class="{{active_chs}}"><a href="/cht{{ current_url }}">繁</a></li>
          <li class="{{active_cht}}"><a href="/chs{{ current_url }}">简</a></li>
          <li class="{{active_en}}"><a href="/eng{{ current_url }}">ENG</a></li>
        </ul>
        <ul id="social-icon-sidebar" class="nav">
            <li>
              <a href="{{ menu_item.url }}" class="" title="{{ menu_item.text|t }}">{{ menu_item.text|t }}</a>
            </li>
            {% for sub_menu_item in menu_item.submenu %}
              <li>
                <a href="{{ sub_menu_item.url }}" title="{{ sub_menu_item.text|t }}">{{ sub_menu_item.text|t }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
          </li>
        {% endfor %}
      </ul>
      <ul id="linkage-icon-sidebar" class="nav navbar-nav"></ul>
    </nav>
  {% endif %} {# Mobile menu #} {# Header section #}
  <header id="header" class="navbar">
    <div class="container-fluid">
      <div class="container-fluid-40">
        {{ page.header }}
      </div>
    </div>
  </header>

  {# Header section #} {# Content section #}
  <div rel="https://www.fortunepharm.com/" id="globalpath"></div>
  {% if page.page_title %}
    <nav id="contact-nav" class="container-fluid">

      <div class="container-fluid-125">
        <div class="page_title">
          {{ page.page_title }}
        </div>
      </div>
    </nav>
  {% endif %}

  <div class="container-fluid container-fluid-healthtipsbanner">
    <section id="banner-wrapper">
      <div class="page_banner">
        {{ page.page_banner }}
      </div>
    </section>
    <div id="health-tips">
      <div class="sub-tab-session">
        <div class="sub-tab-outer-wrapper scroll-wrapper" style="overflow: hidden; outline: none; cursor: -webkit-grab;">
          <ul class="sub-tab-wrapper nav navbar-nav container-fluid-healthtips" >
                          {{ page.sub_menu }}
          </ul>
        </div>
        <a class="arrow arrow-left"></a>
        <a class="arrow arrow-right"></a>
      </div>
    </div>
    <section id="os-wrapper">
      <div class="health-tips-ful">
        {% for item in node.field_healthtips_paragraph %}
          <!-- healthtips_short_descripti start   -->
          {{ item.entity.translation(language).field_healthtips_short_descripti.value|raw }}
          <!-- healthtips_short_descripti end-->

          <!-- body start -->
          {{ item.entity.translation(language).field_healthtips_body.value| check_markup(item.entity.field_healthtips_body.format) }}
          <!-- body end -->

          <!-- healthtips_details start -->
          {{ item.entity.translation(language).field_healthtips_details.value| check_markup(item.entity.field_healthtips_details.format) }}
          <!-- healthtips_details end -->

        {% endfor %}
      </div>


    </section>
    <section id="content_bottom">
      {{ page.content_bottom }}
    </section>
  </div>

  {# Content section #} {# Footer section #}
  <footer class="footer" role="contentinfo" id="footer">
    <div class="container-fluid">
      <div class="container-fluid-40">
        {{ page.footer }}
      </div>
    </div>
  </footer>
</div>

{# Footer section #}
