<div{{ attributes }} class="inner">
  <div class="navbar-header">
    {% if language == 'en' %}
      {% set title = 'Home' %}
      {% set url = '/eng' %}
    {% endif %}
    {% if language == 'zh-hant' %}
      {% set title = '主頁' %}
      {% set url = '/cht' %}
    {% endif %}
    {% if language == 'zh-hans' %}
      {% set title = '主页' %}
      {% set url = '/chs' %}
    {% endif %}
    <a href="{{url}}" title="{{title}}" rel="{{title}}" tabindex="-1">
      <img src="{{logopath}}" alt="{{title}}">
    </a>
  </div>
  <nav class="collapse navbar-collapse bs-navbar-collapse">
    {{ elements.pharm_theme_main_menu }}
        {% if language == 'en' %}
          {% set active_en = 'active' %}
        {% endif %}
        {% if language == 'zh-hant' %}
          {% set active_cht = 'active' %}
        {% endif %}
        {% if language == 'zh-hans' %}
          {% set active_chs = 'active' %}
        {% endif %}
    <div class="navbar-right">
      <ul id="lang" class="nav navbar-nav">
        <li class="{{active_chs}}"><a href="/cht{{ current_url }}">繁</a></li>
        <li class="{{active_cht}}"><a href="/chs{{ current_url }}">简</a></li>
        <li class="{{active_en}}"><a href="/eng{{ current_url }}">ENG</a></li>
      </ul>
      <ul id="social-icon" class="nav navbar-nav">
        <li><a href="https://www.facebook.com/Fortune.Pharmacal" target="_blank" class="fb-icon"></a></li>
        <li><a href="http://weibo.com/fortunepharmacal" target="_blank" class="weibo-icon"></a></li>
        <li><a href="https://www.youtube.com/user/FortunePharmHK" target="_blank" class="youtube-icon"></a></li>
      </ul>
    </div>
  </nav>
  <button type="button" class="hamburger is-closed visible-xs" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
  <nav id="contact-nav" class="container-fluid hidden-xs">
    <div class="container-fluid-125">
      {{ elements.mainnavigation }}
    </div>
  </nav>
