 
  <div id='health1'>
    <div id="health-tips" class="cold_and_flu">
          <div id="wrapper">
                <div id="page-content-wrapper">
                      <div id="main">
                          <div class="container-fluid">
                                <div class="content-outer-wrapper">
                                       <div class="notice-wrapper">
                                       {{ node.field_healthtips_short_descripti.value }}
                                       </div>
                                       <div class="image-wrapper">
                                                              
                                          <img src={{ file_url(node.field_healthtips_ca_image1.entity.uri.value) }} class="hidden-xs">
                                          <img src={{ file_url(node.field_healthtips_ca_image2.entity.uri.value) }} class="visible-xs">
						                  

							               </div>
                                        <div class="detail-wrapper detail-wrapper1">
								            <div class="detail-left-wrapper col-sm-3">  
                                               <h4>{{ node.field_healthtips_ca_detail.value  }}</h4>
                                                <p>{{ node.field_healthtips_ca_detail.value }}</p>
                                             </div>
                                           

                                             <div class="detail-right-wrapper col-sm-9">
                                                 {{ node.field_healthtips_ca_detailcon.value | check_markup(node.field_healthtips_ca_detailcon.format) }}

                                             </div>
                                        </div>
                                         <div class="notice-wrapper">
                                       {{ node.field_healthtips_ca_summary1.value }}
                                       </div>
                                       {{content.body}}
                                       <div class="detail-wrapper detail-wrapper2 function-detail-wrapper">
                                         <div class="detail-left-wrapper col-sm-3">
                                           <h4>{{ node.field_healthtips_ca_detail.value  }}</h4>
                                            <p>{{ node.field_healthtips_ca_detail.value }}</p>

                                            </div>
                                            <div class="detail-right-wrapper col-sm-9 active" rel="1">
                                              {# <div>Cold vs Flu Cold symptoms may appear within 48 hours after infected, whereas flu attacks stronger and faster. Although cold and flu share many of the same symptoms, cold is less serious with shorter duration and usually not accompanied with high fever.</div> #}
                                              {# <p>{{ node.healthtips_CA_Detailcon1.value }} </p> #}
                                                 {{ node.field_healthtips_ca_detailcon1.value | check_markup(node.field_healthtips_ca_detailcon1.format) }}
                                             </div>
                                             <div class="detail-right-wrapper col-sm-9 " rel="2">
                                                 {{ node.field_healthtips_ca_detailcon2.value | check_markup(node.field_healthtips_ca_detailcon2.format) }}
                                             </div>
                                              <div class="detail-right-wrapper col-sm-9 " rel="3">
                                                 {{ node.field_healthtips_ca_detailcon3.value | check_markup(node.field_healthtips_ca_detailcon3.format) }}
                                             </div>
                                             <div class="detail-right-wrapper col-sm-9 " rel="4">
                                                 {{ node.field_healthtips_ca_detailcon4.value | check_markup(node.field_healthtips_ca_detailcon4.format) }}

                                             </div>
                                              <div class="detail-right-wrapper col-sm-9 " rel="5">
                                                 {{ node.field_healthtips_ca_detailcon5.value | check_markup(node.field_healthtips_ca_detailcon5.format) }}
                                             </div>
                                             <div class="detail-right-wrapper col-sm-9 " rel="6">
                                                 {{ node.field_healthtips_ca_detailcon6.value | check_markup(node.field_healthtips_ca_detailcon6.format) }}

                                             </div>
                                             <div class="detail-right-wrapper col-sm-9 " rel="7">
                                                 {{ node.field_healthtips_ca_detailcon7.value | check_markup(node.field_healthtips_ca_detailcon7.format) }}

                                             </div>
                                             
                                                 
                                        
                                       </div>  
                                 </div>
                           </div>
                        </div>
                </div>
           </div>
    </div>
  </div>
     
    
</div>

