{# <div class="health-tips">
  <div id='health1'>
    <div id="health-tips" class="pain">
          <div id="wrapper">
                <div id="page-content-wrapper">
                      <div id="main">
                          <div class="container-fluid">
                                <div class="content-outer-wrapper">
                                     <div class="notice-wrapper">
                                       {{ node.field_short_description.value }}
                                       </div>
                                 </div>
                           </div>
                        </div>
                </div>
           </div>
    </div>
  </div> #}
    {# {{ content.field_short_description }} #}

  <div>
  {{content.body}}
  </div>
  
  <div id='health1'>
    <div id="health-tips" class="pain">
          <div id="wrapper">
                <div id="page-content-wrapper">
                      <div id="main">
                          <div class="container-fluid">
                                <div class="content-outer-wrapper">
                                         <div class="notice-wrapper">
                                             {{ node.field_short_description.value }}
                                       </div>
                                       <div class="detail-wrapper detail-wrapper2 function-detail-wrapper">
                                         <div class="detail-left-wrapper col-sm-3">
                                           <h4>{{ content.field_details['#title'] }}</h4>
                                            <p>{{ content.field_details['#title'] }}</p>

                                            </div>
                                            <div class="detail-right-wrapper col-sm-9 active" rel="1">
                                              <p>{{ node.field_details1.value }} </p>

                                             </div>
                                             <div class="detail-right-wrapper col-sm-9 " rel="2">
                                              <p>  {{ node.field_details2.value }}  </p>

                                             </div>
                                              <div class="detail-right-wrapper col-sm-9 " rel="3">
                                              <p>{{ node.field_details3.value }} </p>

                                             </div>
                                             <div class="detail-right-wrapper col-sm-9 " rel="5">
                                              <p>{{ node.field_details4.value }} </p>

                                             </div>
                                             
                                                 
                                        
                                       </div>  
                                 </div>
                           </div>
                        </div>
                </div>
           </div>
    </div>
  </div>
     
    
</div>

